<!DOCTYPE html>
<html>
  <head>
    <title>Login and Registration</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_one/css/style.css' %}" media="screen" title="no title">

  </head>
  <body>
    <!-- <h1>This is index.html in apps_one</h1> -->

    <div class="wrapper">
      <div class="registration">
        <!-- <form action="/register" method="POST" id="register"> -->

          <!-- This is the python syntax used with named routes: -->
          <!-- register is a named route in apps-level urls.py -->
        <form class="" action="{% url 'users:register' %}" method="POST">
          {% csrf_token %}

          <h1>Registration</h1>
          <h3>First Name: <input type="text" name="first_name" value=""></h3>
          <h3>Last Name: <input type="text" name="last_name" value=""></h3>
          <h3>Email: <input type="text" name="email" value=""></h3>
          <!-- type="password" hides the password -->
          <h3>Password: <input type="password" name="password" value=""></h3>
          <h3>Confirm Password: <input type="password" name="confirmPW" value=""></h3>
          <!-- type="date" generates a datepicker -->
          <h3>Date of Birth: <input type="date" name="dob" value=""></h3>
          <input type="Submit" value="Register">
          <br>
          <br>
        </form>
      </div><!-- end of registration -->

<!-- trying to make the error messages print out in red; haven't succeeded yet -->
      <div class="error_messages">
<!-- displaying error messages -->
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="login">
        <!-- <form action="/login" method="POST"> -->
        <!-- This is the python syntax used with named routes: -->
        <!-- users is the named route for app_one in main-level urls.py -->
        <!-- register is a named route in apps-level urls.py -->
        <form class="" action="{% url 'users:login' %}" method="POST">
          {% csrf_token %}

          <h1>Log in</h1>
          <h3>Email: <input type="text" name="email" value=""></h3>
          <h3>Password: <input type="password" name="password" value=""></h3>
          <input type="Submit" value="Login">
          <br>
          <br>
        </form>
      </div>

    </div><!-- wrapper end div-->
  </body>
</html>
